@model Pizza[]
@{
    
    //  ViewData["Title"] = "Home Page";
    Layout = "LayoutCustom";

 var pizze = Model;   


}

@if (pizze.Length is 0)
{
    <h1>Non ci sono pizze disponibili</h1>
}
else
{
   <div>
        <h2 class="text-light">Le nostre Paolo-Pizze:</h2>
        <a class="btn btn-danger btn-lg p-2 m-4" href="@Url.Action("Create","Pizza")">Inserisci una nuova pizza.</a>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            @foreach (var pizza in pizze)
            {
                <div class="col">
                    <div class="card">
                        <img src="@pizza.ImgUrl" class="card-img-top" alt="@pizza.Name">
                        <div class="card-body">
                            <h5 class="card-title">@pizza.Name</h5>
                            <p class="card-text">@pizza.Description</p>
                            <a class="btn btn-danger btn-lg" href="@Url.Action("Show","Pizza", new{Id = @pizza.Id})">Dettagli</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    
    </div>
    
}




<style>


</style>